<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Novo Cadastro</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/{{registro.id}}" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome" 
                                placeholder="Nome Completo" value="{{registro.nome}}">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" 
                                placeholder="exemplo@exemplo.com" value="{{registro.email}}">
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone" name="telefone" 
                                placeholder="(00) 0 0000-0000" value="{{registro.telefone}}">
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <a href="/" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ($) {
        $('#telefone').mask('(00) 0 0000-0000');
    });
</script>